@model IEnumerable<Sklep1.Models.Product>

@{
    ViewBag.Title = "Sklep";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    @*<link rel="shortcut icon" href="img/fav.png">*@
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Strona Główna</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/Content/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="~/Content/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
</head>
<body>
    <!-- Start Header Area -->
<header class="default-header">
    <nav class="navbar navbar-expand-lg  navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li>@Html.ActionLink("Strona Główna", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sklep", "Sklep", "Home")</li>
                    <li>@Html.ActionLink("Koszyk", "Koszyk", "Home")</li>
                    <li>@Html.ActionLink("Logowanie", "Login", "Home")</li>
                    <li>@Html.ActionLink("Rejestracja", "Register", "Home")
                    <li>@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
            <div class="col-first">
                <h1>Sklep</h1>
                <nav class="d-flex align-items-center justify-content-start">
                    <a href="Index">Strona Główna<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </nav>
            </div>
        </div>
    </div>
</section>


<table class="table">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @using (Html.BeginForm("AddProductToOrder", "Home", new {productId = item.Id}))
                {
                    <input type="submit" value="Dodaj do koszyka" class="btn btn-default"/>
                }




            </td>

        </tr>
    }

</table>


    <div>
        @Html.ActionLink("Powrót", "Index","Home", new {@class= "view-btn color-2 mt-10" })
    </div>
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                @*<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">*@
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="footer-text m-0">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                @*</div>*@
            </div>
        </div>
    </footer>
</html>
